/*
## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600

*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-family: 'Outfit', sans-serif;
    /* ------------------------------- */
    --font-size-title: 22px;
    --font-size-text: 18px;
    --font-size-ether: 17px;
    --font-size-emphasis: 17px;
    /* ------------------------------- */
    --font-weight-title: 500;
    --font-weight-text: 300;
    --font-weight-ether: 600;
    --font-weight-emphasis: 600;
    /* ------------------------------- */
    --line-height-text: 25px;
    /* ------------------------------- */
    --color-title: #FFFFFF;
    --color-text: #8bacda;
    --color-ether: #00fff7;
    --color-emphasis: #FFFFFF;
    /* ------------------------------- */
    --color-bg-main: #0d192b;
    --color-bg-card: #14253d;
    /* ------------------------------- */
    --color-line: #2f415b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: var(--color-title);
    text-decoration: none;
}
a:hover {
    color: var(--color-ether);
}